<!-- Views/Admin/Dashboard.cshtml -->
<h2>Admin Dashboard</h2>

<ul class="list-group">
    <li class="list-group-item"><a asp-action="Users">Manage Users</a></li>
    <li class="list-group-item"><a asp-action="Jobs">Manage Jobs</a></li>
    <li class="list-group-item"><a asp-action="Applications">Manage Applications</a></li>
</ul>
